<ul>
    {{#each menuItems}}
        <li class="{{ class }}">
            <a href="{{ href }}">{{ label }}</a>
            {{#if menuItems}}
                {{> menuList}}
            {{/if}}
        </li>
    {{/each}}
</ul>
