<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">User Area</a>

    <ul class="pure-menu-list">
        {{#each menuItems}}
            <li class="pure-menu-item {{ class }}"><a href="{{ href }}" class="pure-menu-link">{{ label }}</a></li>
        {{/each}}
    </ul>
</div>
